.settings
.svn
local.properties
proguard.cfg
proguard-project.txt
bin/
gen/
libs/
obj/
patches/
target/
src/test/resources/META-INF/config.properties

*.Plo
*.dylib
*.la
*.a
*.lo
.libs/
.deps/
autom4te.cache/
Makefile.in
Makefile
config.status
*.m4
config_auto.h
configure
libtool
tesseract.pc
stamp-h1
build/
.gradle/
.idea/
*.iml
javadoc/
tessdata/

.externalNativeBuild/
jni/com_googlecode_tesseract_android/src/config/**
jni/com_googlecode_tesseract_android/src/m4/**
jni/com_googlecode_tesseract_android/src/vs2008/**
jni/com_googlecode_tesseract_android/src/vs2010/**